<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1 class="errorMsg">Sorry! An error happened! Then what?</h1>
<h2 class="errorMsg">Please copy following logs for tech support:</h2>
<hr>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<hr>
</body>
</html>
